# Laravel 5.7.8
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk
*.sha1
*.md5
*.bak

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

/config/cfg.php
/app/Traits/Fetch*Data.php
